.place__image {
  width: 100%;
  max-height: 282px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

@media screen and (max-width: 934px) {
  .place__image {
    max-height: 370px;
  }
}

@media screen and (max-width: 630px) {
  .place__image {
    height: 100%;
    max-height: 550px;
  }
}
