@keyframes show {
  0%{
    opacity:0;
  }

  100% {
  opacity: 1;
  }
}

.view_opened {
  display: flex;
  opacity: 0;
  transition: 0.5s;
  animation: show 0.5s 1 ease-in;
  animation-fill-mode: forwards;
}
