.profile__info-button {
    background: 10px 10px;
    background-image: url(../../../images/icon-pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    padding: 0px;
    margin: 0px;
    margin-top: 16px;
    margin-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
}