.input__info-occupation {
  -webkit-input-placeholder: #000;;
  -moz-placeholder: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  width: 358px;
  height: 27px;
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


@media screen and (max-width: 540px) {
    .input__info-occupation {
        font-size: 14px;
        line-height: 16.94px;
        width: 238px;
        height: 27px;
    }
}
