.input {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 30px;
  margin: 0px;
  padding: 0px;
  padding-top: 45px;
  padding-bottom: 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
    .input {
        padding-top: 75px;
        padding-bottom: 45px;
    }
}
