.logo__place_header {
    max-width: 142px;
    margin-bottom: 40px;
    cursor: pointer;
}

@media screen and (max-width: 934px) {
    .logo__place_header {
        margin-left: 27px;
    }
    
}

@media screen  and (max-width: 320px) {
    .logo__place_header {
        max-width: 103.74px;
        margin-bottom: 30.6px;
    }
}