.profile__info {
    display: flex;
    flex-direction: column;
    max-width: 580px;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    padding-top: 20px;
    box-sizing: border-box;
}