@keyframes showOff {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.popup_closed {
  display: flex;
  opacity: 1;
  transition: 0.5s;
  animation: showOff 0.5s 1 ease-out;
  animation-fill-mode: forwards;
}
