.place {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    max-width: 282px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 934px) {
    .place {
        max-width: 370px;
    } 
}

@media screen and (max-width: 630px) {
    .place {
        max-width: 
        550px;
    } 
}